html,body,input,textarea{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: #242528;
    color:#e4f5f4;
}
.vm-wrapper {
    font-family:Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    padding:10px;
    height:calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 8px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.vm-train textarea{
    margin-top:2px;
    height:50px;
}
.vm-train input, .vm-train textarea{
    border:1px solid #888;
    _font-size: 18px;
    color:#dae4e5;
}
.vm-train input:focus, .vm-train textarea:focus {
    outline: none;
}

.vm-top-bar{
    text-align: right;
    color:#888;
    font-size: 80%;
}
.vm-top-bar u{
    margin-right:10px;
}
.vm-top-bar u:hover{
    color:#fff;
}
#vm_sign_out{
    margin-left:15px;
}
.vm-top-bar u{
    cursor:pointer;
}

#vm_scroll{
    overflow: auto;
}
#vm_contents{
    max-width:700px; 
    margin:auto; 
    padding:10px 0 8px 0;
}
.vm-wrap-quest{
    max-width:700px; 
    margin:auto;
    padding-left:3px;
    display: flex;
    align-items: center;
    border: 1px solid #fff; 
}
.vm-wrap-topic{
    max-width:700px; 
    margin:auto; 
    margin-top:2px;
    padding-left:3px;
    display: flex;
    align-items: center;
    border: 1px solid #fff; 
}
#vm_ask{
    padding-left:3px; 
    border: 0px solid #fff; 
    margin-right:6px; 
    height:30px;
    display:inline-block;
}
#vm_topic{
    padding-left:3px; 
    border: 0px solid #fff; 
    margin-right:6px; height:30px;
    display:inline-block"
}
#vm_ask:focus,#vm_topic:focus{
    outline: none;
}
.vm-question{
    color:#aaa;
    padding:6px 3px 6px 6px; 
    background-color:#373b44;
}
.vm-questions u{
    cursor:pointer;
}
.vm-questions u:hover{
    color:#79f3a2;
}
.vm-answer{
    padding:6px 3px 25px 6px; 
}
.vm-answer u{
    cursor:pointer;
}
.vm-questions{
    margin-top:-20px;
    font-size:70%;
    column-count: 3;
    padding:0px 3px 0px 6px; 
}
.vm-bottom-bar{
    font-size:80%; 
    max-width:700px; 
    margin:auto; 
    margin-top:2px; 
    height:12px;
    color:#888;
    padding-left:3px;
}
.vm-bottom-bar u{
    margin-left:50px;
    cursor:pointer;
}
.vm-q{
    color:cyan;
    margin-right:6px;
}
.vm-a{
    color:#25ef25;
    margin-right:6px;
}
.vm-column-item {
    break-inside: avoid-column;
    display:inline-block;
}
.vm-question::before{
    width:30px;
    color:cyan;
    content: "Q: ";
    margin-left:-30px;
    margin-right:10px;
}
.vm-answer::before {
    width:30px;
    color:#25ef25;
    content: "A: ";
    margin-left:-30px;
    margin-right:10px;
}

/*
.vm-topic-u{
    cursor:pointer;
    font-size:90%;
    color:#888;
    text-decoration: underline;
    float: right;
}
.vm-topic-u:hover{
    color:#fff;
}
*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #242528;;
}
::-webkit-scrollbar-corner {
    background-color: #242528;;
}            

.content_ww{
    position: absolute;
    z-index: 99;
    height:100%;
    width:100%;
    bottom:10000px;
}
.content_w{
    position: absolute;
    z-index: 100;
    bottom:10000px;
    margin:30px 60px;
    width:calc(100% - 120px);
    height:calc(100% - 60px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
    grid-column-gap: 0px;
    background-color: #aaa;
}
